<div class="row">
  <div class="col m6 offset-m3">
    <div class="card center-align">
      <div class="card-content">
        <span class="card-title">Login</span>
        <div class="input-field">
            <input id="uname" type="text" class="validate">
            <label for="uname">Username</label>
        </div>
        <div class="input-field">
            <input id="pass" type="password" class="validate">
            <label for="pass">Password</label>
        </div>
        <p>Don't have an account?</p>
        <a routerLink="/register">Register Here</a>
      </div>
      <div class="card-action">
        <a>Login</a>
      </div>
  </div>
  </div>
</div>