script(src='/javascripts/jquery.min.js')
script(src='/javascripts/popper.min.js')
script(src='/javascripts/bootstrap.min.js')
script(src='/javascripts/mdb.min.js')
script(src='/javascripts/fontawesome-all.min.js')