nav.navbar.navbar-expand-lg.navbar-dark.indigo
    a.navbar-brand(href="#") QUIZARAMA
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarContent")
        span.navbar-toggler-icon
    #navbarContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
            li.nav-item
                a.nav-link(href="#") Home
            li.nav-item
                a.nav-link(href="#") Login
            li.nav-item
                a.nav-link(href="#") Register
